@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  font-weight: 500;
}


#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("https://cdn.alboompro.com/62e956f3d4cc770001d255b9_64d3d94a416ce70001599026/original_size/background-2.jpg?v=1");
  background-size: cover;
  background-position: center;
}

#logo {
  width: 180px;
  margin-top: 122px;
  margin-bottom: 18px;
}

#winnerWrapper {
  min-height: 336px;
  max-height: 498px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0 92px;
}

#registration {
  font-size: 22px;
  color: #F4F1F4;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#winner {
  font-size: 88px;
  font-weight: 600;
  color: #00D6BA;
  line-height: 110px;
  margin-bottom: 16px;
  /* text-transform: capitalize; */
}

#button {
  padding: 10px 60px;
  border-radius: 3px;
  border: none;
  background: #EB077A;
  box-shadow: 6px 5px 0px 0px #00D6BA;

  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;

  cursor: pointer;
}

#button:hover {
  background: #F91487;
}

#paragraph {
  padding: 12px;
  font-size: 20px;
  color: rgba(244, 241, 244, 0.80);
  height: 22%;
  display: flex;
  align-items: end;
  margin-bottom: 12px;
}

#upload-phrase {
  color: #F4F1F4;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;

  margin: 150px 0 92px;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}